@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #fbff00;
    --primary-color: #1100ff;
    --secondary-color: #fbff00;
    --font: "Nunito Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    margin: 0;
}
